body{
	color: #676767;
}
header{
	margin:0;
	border-bottom: 3px solid #1179ea;
}
nav{
	display: block;
	position:relative;
	font:1.3em Tahoma, Sans-serif;
	margin:0 2em;
}
nav ul{
	margin:0;
	padding:0;
}
nav li{
	float:left;
	position:relative;
	list-style-type: none;
	padding:0 .5em;
}
nav ul li a{
	padding: 0 0.2em;
}
ul.sub-menu{
	display:none;
	position:absolute;
	top:20px;
	left:15px;
	z-index:1;
	background-color: #B9D3EE;
	padding: 10px;
}
nav li:hover ul.sub-menu{
	display:block;
	border: 1px solid #1179ea;
}
#logo{
	display:inline-block;
	background-color:#FFFFFF;
	font-size: 40px;
	color: red;
	font-family: Trebuchet MS;
}
#search{
	margin:0;
	display: inline-block;
}
.search-input{
	margin:0;
}
.iconCart{
	background-position: -360px -119px;
	
}
.arrow-right{
	width:0px;
	height:0px;
	border-top:5px solid  transparent;
	border-bottom:5px solid  transparent;
	border-left:5px solid #8B8D8E;
	
}
.breadcrumb{
	list-style-type: none;
	margin:0px;
	
}
.breadcrumb li{
	
	padding:0 2px 0 0;
}
.odd {
 visibility: visible;
}
.even {
  visibility: visible;
}


/* CSS for product listing*/
.productlist2 {
    list-style: none;	
    display:table;
  	   
}
.productlist2 li {
    display: inline-table;
    margin-bottom: 2em;
    margin-right: 1em;
    width: 18%;
    height:350px;
    border: 1px solid #B9D3EE;
    border-radius: 3px;
   
}
.productimage{
	padding: 0em;
}
.thumb{
	padding: 1em;
}
.productlist2 li div a {
    font-weight: bold;
    color:#676767;
}
.productinfo p{
	color:#777777;
}
.text-productinfo{
	min-height: 70px;
	
}
.productinfo{
	padding : 0 1em 1em;
	text-align: center;
}
.cart-button{
	float: right;
    font-weight: 500;
    margin-right: 1em;
    margin-top: 1em;
    padding: 0.2em 0.8em;
}
.hideText {
    display: none;
}
.showText{
	display:block;
}
.ditto-btn{
	background-color: #6799CB !important;
	border-color: #1179ea;
	background-image: linear-gradient(#6799CB, #19738B);
}
.amount{
	font-weight:bold;
	color: #0E6BD4;
}
.discount-tag{
	background-color: #EE5C42;
	color:#FFFFFF;
	height: 25px;
	width: 25px; 
	position: absolute;
	font-weight:bold;
	padding:.2em
}
.banner h4{
	border-bottom: 2px solid #1179EA;
	padding: 10px;
	color: #EE5C42;
}
.banner-product li{
  width:11em;
  padding-right:2em;
  padding-bottom: 4em;
  display:inline-block; 
  margin-left: 1em;
  margin-bottom: 1em;
  border: 1px solid #B9D3EE;
}
.banner-product img{
	width:100%;
}
.banner-product p{
	font-weight:bold;
	text-align: center;
}
.rating{
	margin:0;
	color: #0E6BD4;
}
.rating span{
	color:#EE5C42;
	font-weight: bold;
}
