body{
	color:#8B8D8E;
}
/*CSS for Product listing*/
#contentarea{
	  border:.0em solid #8B8D8E;
}
.productlist {
  list-style: none;
  padding:0em;
  color:#8B8D8E;

}

.form-right {

	float:right;
}
.search-width{
	width: 60em;
}
.productlist li {
 
  width:11em;
  padding-right:2em;
  padding-bottom: 4em;
  display:inline-block; 
  border-right: 1px solid #F2F2F2;
  margin-left: 1em;
  margin-bottom: 1em;
  height:20em;
}



.thumb {
margin-top: -0.25em;
}
.thumb:hover{
	border:1px solid #8B8D8E;
}

.productInfo a{
	text-align:center;
	color:#8B8D8E;
	font-weight:bold;
}
 span{
	color:#8B8D8E;
	
}

a:hover{
	color:#8B8D8E;
	text-decoration: none;
}
.amount{
	font-weight:bold;
	color:#2C2A1A;
	
}
.old{
	text-decoration:line-through;
}
.discountAmount{
	font-weight:bold;
	color:#2C2A1A;
}
.discount{
	color:#cbdb2a;
	font-size: 1.5em;
	text-align:center;
}
.productInfo span{
	line-height:17px;
}

.hideText{
	display:none;
}
.showText{
	display:block;

	z-index: 1;
	background-color:#CBDB2A
}

/*CSS for shopping cart*/
.cart-tenantA{
	padding:15px;
}
table.cart-table{
	width: 100%;
	border-spacing: 10px 5px;
	border-collapse: collapse;
	border-color:#D1D1D1;
	text-align: center;
	color:#8B8D8E;
}	

td.imageContainer{
	padding: 10px 20px 10px 5px;
}
.cart-table tr{
	border-bottom: 3px solid #cbdb2a;
	padding: 8px;
}
.cart-table td input{
	width:50px;
}
.cart-table td.amount{
	color:#000000;
	font-weight:bold;
}
.imageContainer img{
	
	box-shadow : 5px 3px 6px #B3B3B3;   
	border-radius: 5px;
}
.cart-cl1-total{
	padding:20px 50px 5px 0px;
	text-align:right;
	
}
