body{
	color:#511111;
}

.productDetailsContainer {

	margin-left:1em;
}

.productdetails {
	margin-left:1em;
	float:left;
	width:70%;
}


.hideText{
	display:none;
}
.showText{
	display:block;
	
}

/* CSS for product listing*/
.productlist2 {
    list-style: none;	
   /* width:100%;*/
    display:table;
  	border-top: .3em solid black;
    margin-top: 2em;
    padding-top: 2em;
}
.productlist2 li {
    /*clear: both;*/
    /*height: 100px;*/
    /*padding-top: 15px;*/
    width:11%;
    display:inline-table;
    padding-right:.2em;
    margin-left:.4em;
    margin-right:.5em;
    margin-bottom:2em;
   /* color:#5B5D5E;*/
}
/*.productimage{
	 border-bottom: .2em solid #8B8D8E;
}*/
.thumb{
	width:135px;
	height:135px;
	max-width: none;
}


.productlist2 li div a {
    font-weight: bold;
    color:#5B5D5E;
}
.productinfo p{
	color:#777777;
}
.text-productinfo{
	min-height: 121px;
	
}
.productinfo{
	padding-bottom: 2em;
}
.cart-button{
	float: right;
    font-weight: 500;
    margin-right: 1em;
    margin-top: 1em;
    padding: 0.2em 0.8em;
}
/* CSS for shopping cart */
#cart-cl2{
	/*box-shadow : 0px 0px 4px 1px #B3B3B3;   
	border-radius: 15px;*/
	padding: 10px;
}
.singleProductContainer{
	padding: 10px;
	height: 155px;
	border-top: .25em solid black;
}
.imageContainer{
	float:left;
	padding: 0 20px 0px 5px;
}
.productDetailsContainer{
	width:280px;
	float:left;
	
}
.productDetailsContainer span{
	text-decoration: underline;
	cursor: pointer;
}
.pricingDetails{
	width:220px;
	float:right;
}
.pricingDetails p{
	margin-bottom: 0px;
}
.pricingDetails input{
	width:50px;
}
.cart-cl2-total{
	padding:20px 50px 5px 0px;
	text-align:right;
	
}
.amount{
	font-weight:bold;
}

/** Detail View **/
img.amazonproduct {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 200px;
  width: 200px;
}