<div>

	<div id="contentcolumn" ng-controller="PhoneListCtrl" >

		<div id="contentarea" >
			<!--Body content-->
			<div>
				<ul class="breadcrumb">
					<li><a>Category</a> </li> 
					<li><div class="arrow-right"> </div></li>
					<li><a> {{tenant.categories[0].categoryType}}</a></li>
				</ul>				
			</div>
			<div>
				<p>User Story 2:
				<input type="button" value="click" ng-click="myStyle={visibility:'visible'}" ></p>
			
			<ul class="productlist" ng-repeat="tenant in tenant.categories" ng-class-odd="'odd'" ng-class-even="'even'" ng-style="myStyle">
				<li ng-repeat="tenantproduct in tenant.products | filter:$parent.query"  >

					<a href="/app/index.html#/site/{{tenantselected}}/products/{{tenantproduct.id}}"> <img ng-src="{{tenantproduct.image}}" class="thumb" /> </a>
					<div class="productInfo">
						<a href="/app/index.html#/site/{{tenantselected}}/products/{{tenantproduct.id}}"> <span> [{{tenantproduct.name}}]</span> </a>
						<p>
							{{tenantproduct.description}}
						</p>
						<p class="amount old">
							{{tenantproduct.cost}}
						</p>
						<p class="discountAmount">
							{{tenantproduct.cost-(tenantproduct.cost*(tenantproduct.discount/100))}}
						</p>
						<div class="div-addtocart" show="addedtocart" >
							<button id={{tenantproduct.id}} name="AddtoCart" class="btn-custom" ng-click="calladdToCart($index)" >
								Add to Cart
							</button>
							<span class="hideText">Product added to cart</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		</div>
	</div>
</div>