<div id="contentcolumn"  ng-controller="PhoneListCtrl" class="container-fluid" >
		<!-- End of Tenant specific Menus -->
		<div id="contentarea" >
			<!--Body content-->
		
			<div class="banner">
				<h4>{{tenant.newProductLists[0].listname}}</h4>
				<ul class="banner-product">
					<li  ng-repeat="newProduct in tenant.newProductLists[0].products">
						<a href="/app/index.html#/site/{{tenantselected}}/products/{{newProduct.id}}"> 
						<img ng-src="{{newProduct.image}}" class="thumb" /> </a>
						<p>{{newProduct.name}}</p>
						
					</li>
				</ul>
			</div>	
			<div>
				<ul class="breadcrumb">
					<li><a>Category</a>	</li>
					<li><div class="arrow-right"></div></li>
					<li><a> {{$parent.categoryText}}</a></li>
				</ul>
			</div>
			<ul  class="productlist2"  ng-repeat="tenant in tenant.categories" ng-class-odd="'odd'" ng-class-even="'even'">
				<li ng-repeat="tenantproduct in tenant.products |  filter:$parent.category | filter:$parent.query">
					
					<div class="productimage">
						<div class="discount-tag">{{tenantproduct.discount}}%</div>
						<a ng-href="/app/index.html#/site/{{tenantselected}}/products/{{tenantproduct.id}}">
							<img ng-src="{{tenantproduct.image}}" class="thumb">
						</a>
					</div>
					<div class="productinfo">
						<div class="text-productinfo">
							<a ng-href="/app/index.html#/site/{{tenantselected}}/products/{{tenantproduct.id}}"  >{{tenantproduct.name}}</a>
							<p>
								{{tenantproduct.description}}
							</p>
							
						</div>
						<p class="rating">Rating: <span>{{tenantproduct.rating}}/5</span></p>
						<span class="amount"><b>Price:  {{tenantproduct.cost}}</b></span>
						<div show="addedtocart" >
							<button id={{tenantproduct.id}} name="AddtoCart" class="btn-custom ditto-btn"  ng-click="calladdToCart($index)" >Add to Cart</button>
							<span  class="hideText">Product added to cart</span>
						</div> 
					</div>
				</li>
			</ul>
		
			
		</div>
	</div>
